# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
dist-react/
build/

# Electron
out/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Credentials (NÃO commitar!)
credenciais.json

# Chrome profile
perfil_chrome_wpp/

credenciais.json

.wwebjs*